/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  margin-right: .5rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

button:hover {
  background-color: #cfd8dc;
}
h2{
  margin-top: 1rem;
  color:#3f51b5
}
div {
  padding: 0.5rem;
}
span{
  font-weight: bold;
}
.hero-name--input {
  display: block;
  max-width: 300px;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/