<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} {{hero.surname | uppercase}} Details</h2>
  
  <mat-form-field class="hero-name--input">
   <mat-label for="hero-name">Hero name: </mat-label>
    <input matInput  id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
  </mat-form-field>

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>

  <div><span>ID: </span>{{hero.id}}</div>
  <div><span>Age: </span>{{hero.age}}</div>
  <div><span>Birth date: </span>{{hero.birthDate}}</div>
  <div><span>Vote: </span>{{hero.voted}}</div>
  <div><span>Is he good? </span>{{hero.isGood}}</div>
  <div><span>About: </span>{{hero.description}}</div>

</div>








<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->