/* HeroesComponent's private CSS styles */
table td {
  padding: 10px;
}
input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 10px 10px 10px;
}
.form-element {
  width: 100%;
}
.mat-column-description {
  width: 50%;
}
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  position: relative;
  cursor: pointer;
}
.heroes li:hover {
  left: .1em;
}
.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}
.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}
.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.delete{
  cursor: pointer;
}
.delete:hover{
  color:red;
}
.add-button {
 padding: .5rem 1.5rem;
 font-size: 1rem;
 margin-bottom: 2rem;
}
.add-button:hover {
  color:#525252;
  background-color: #e8e8e8;
}
.filters-container{
  display: flex;
  align-items: flex-end;
}
.filter{
  min-width: 250px;
  padding: 0 10px;
}
@media (min-width: 950px){
  .container{
    width: 50%;
  }
  .form-element {
    width: 50%;
    padding: 10px;
  }
}


@media only screen and (max-width: 600px) {
  .list {
    overflow-x: auto;
  }
  .list td {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 200px;
  }
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/


